<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Registrar Consumo de Energia</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>Registrar Consumo de Energia</h1>

    <div th:if="${msg != null}" class="alert alert-success">
        <span th:text="${msg}"></span>
    </div>

    <form th:action="@{/energy-consumption/register}" th:object="${energyConsumptionDTO}" method="post">

        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Tempo de Uso:</label>
                <input type="time" id="usageTime" th:field="*{usageTime}" required />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Dispositivo:</label>
                <select th:field="*{deviceId}" class="form-control" required>
                    <option value="" disabled selected>Selecione o Dispositivo</option>
                    <option th:each="device : ${devices}" th:value="${device.id}" th:text="${device.getName()}"></option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-success">Registrar</button>
            </div>
        </div>
    </form>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
